module.exports = {
  pythonCommand: "uv run",
  profileProjectPath:
    "/root/vidi/extensions/watsonc/scripts/profil",
  intersectionsScriptPath: "/root/vidi/extensions/watsonc/scripts/profil/intersection.py",
  profileScriptPath: "profiletool_kemi_v5.py",

  pesticidProjectPath:
    "/root/vidi/extensions/watsonc/scripts/pesticidAAK",
  reportScriptPath: "Jupiter_PesticidRapport.py",
  reportSavePath: "/root/vidi/public/tmp/",
};
